<ion-header>
</ion-header>
<ion-content fullscreen>
  <div class="bgimg">
  <ion-grid>
     <ion-row class="paddedrow"></ion-row>
     <ion-row>
        <ion-col class="paddedcol"></ion-col>
          <ion-col>           
              <ion-avatar>
                  <img src="../../assets/baseline-account_circle-24px.svg">
               </ion-avatar>            
          </ion-col>
          <ion-col class="paddedcol"></ion-col>       
     </ion-row>
     <ion-row class="paddedrow"></ion-row>
     <ion-row>    
              <ion-item class="inputs" lines="inset">
                  <ion-label position="stacked"> Login ID </ion-label>
                  <ion-input [(ngModel)]="userid" required type="tel" maxlength="20" placeholder="mobile" class="phlder"></ion-input>
                </ion-item>         
     </ion-row>
     <ion-row> 
        <ion-item class="inputs" lines="inset">
          <ion-label position="stacked"> Password </ion-label>   
          <ion-input [(ngModel)]="pword" required [type]="inType" minlength="6" maxlength="10"></ion-input>
          <ion-icon tappable (click)="buttonclick()" [name]="inIcon" class="password-eye" slot="end"></ion-icon> 
        </ion-item>
     </ion-row>
     <ion-row>
       <ion-col offset="6">
          <ion-item lines="none">
              <ion-button size="small" fill="clear" class="F_right"> Forgot Password? </ion-button>
            </ion-item>
       </ion-col>      
     </ion-row>
  <ion-row>     
    <ion-col offset="4">
      <ion-label #msg class="errorMsg"><!-- slot="end" Something is wrong!  --></ion-label>
    </ion-col>  
  </ion-row> 
  <ion-row class="paddedrow"></ion-row>
  <ion-row>
    <ion-col class="paddedcol"></ion-col>
       <ion-col>
              <ion-button (click)="submit()" fill="solid" class="bigbutton" size="large" color="primary"> Get In! </ion-button>
        </ion-col>      
       <ion-col class="paddedcol"></ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="paddedcol"></ion-col>
          <ion-col>
             <ion-item lines="none">
                 <ion-button href="/signup" routerDirection="root" size="small" fill="clear" class="newuser"> New User? Sign up.. </ion-button>
               </ion-item>
          </ion-col> 
          <ion-col class="paddedcol"></ion-col>     
        </ion-row>
  </ion-grid>
</div>
</ion-content>
<ion-footer></ion-footer>
