@font-face {
    font-family: 'Biryani-Regular';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-Regular.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Biryani-ExtraLight';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-ExtraLight.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Biryani-Light';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-Light.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Biryani-SemiBold';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-SemiBold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Biryani-Bold';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-Bold.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Biryani-ExtraBold';
    font-style: 'normal';
    src: url('../assets/fonts/Biryani-ExtraBold.ttf') format('truetype');
    font-weight: 900;
  }
  