.bgimg  {
   background: #20b2aa url("../../../assets/beach.svg") no-repeat center center / cover;
   margin: auto;
   width:100%;
   height:100%;
   top:0;
   left: 0;
   display: block;
   position: absolute;
 }
 
 ion-grid {
     height: 100%;
 }
 
 .paddedrow{
     height: 3%;
 }
 
 .paddedcol{
     width: 5%;
 }
 
 ion-avatar{
     --border-radius: 112.5px;
     height: 148px;
     width: 154px;
 }
 
 ion-input{
 --color : white !important;
 font-size: 12px !important;
 font-family: "Biryani-Bold" !important;
 }

 
 .inputs{
     width:90%;
     margin: 0 4%;
 }
 
 ion-item{
 --white-rgb: 255,255,255;
 --background: rgba(var(--white-rgb), 0);
 --highlight-color-focused: white;
 }
 
 ion-button {
     text-transform: none;
     text-align: center;
     display: inline-block;
     --background-activated:#20b2aa !important;
     --background-focused: #20b2aa !important;
 }
 
 ion-label{
      color:white !important;
     font-family: "Biryani-Bold" !important;
     font-weight: 800;
     font-size: 14px;
 }
 
 .phlder{
     --placeholder-font-style: "italic" !important;
     --placeholder-color: white; 
      //font-size: 10px !important;
 }
  
 .bigbutton{
    --black-rgb: 0,0,0;
     font-size: 20px !important;  
     --color : white !important;
     font-family: "Biryani-Bold" !important;
     font-weight: 800;
     --box-shadow: 0px 4px 4px rgba(var(--black-rgb), 0.25) !important;
     --border-radius: 7px;
     width: 180px;
     height: 60px;
     //--align: top;
 }

 .getcode{
    --black-rgb: 0,0,0; 
     --color : #20b2aa !important;
     --background: white !important; 
     font-family: "Biryani-Bold" !important;
     font-weight: 800;
     --box-shadow: 0px 4px 4px rgba(var(--black-rgb), 0.15);
     --border-radius: 7px;
     font-size: 12px !important;
     --align: top;    
 }
  
 
 /* .getcode-active{
    --color : grey !important;
    font-family: "Biryani-Bold" !important;
     font-weight: 800;
     --box-shadow: 0px 4px 4px rgba(var(--black-rgb), 0.15);
     --border-radius: 7px;
     font-size: 12px !important;
     --align: top;
     
 }*/
  
 .errorMsg {
     display:hidden;
     font-size: 12px !important;
     text-align: center;
     font-family: "Biryani-Bold" !important;
     font-weight: 800;
     color:#F70816 !important;

 }

 .password-eye{
    --black-rgb: 0,0,0; 
    --white-rgb: 255,255,255;
    --box-shadow: 0px 4px 4px rgba(var(--black-rgb), 0.10);
    --background: rgba(var(--white-rgb), 0);
    color: white !important;
    --align: left;
}