<ion-header>
</ion-header>
<ion-content fullscreen>
  <div class="bgimg">
     <ion-grid>
        <ion-row class="paddedrow"></ion-row>
     <ion-row>
        <ion-col class="paddedcol"></ion-col>
          <ion-col>           
              <ion-avatar tappable (click)="takepicture()">
                  <img src='../../../assets/upload-photo.svg'>
               </ion-avatar>            
          </ion-col>
          <ion-col class="paddedcol"></ion-col>       
     </ion-row>
     <ion-row class="paddedrow"></ion-row>
     <ion-row>    
        <ion-item class="inputs" lines="inset">
            <ion-label position="stacked"> Login ID </ion-label>
            <ion-input [(ngModel)]="userid" required type="tel" maxlength="20" placeholder="mobile" class="phlder"></ion-input>            
          </ion-item>         
     </ion-row>
      <ion-row>    
          <ion-item class="inputs" lines="inset">
              <ion-label position="stacked"> Security code </ion-label>
              <ion-input [(ngModel)]="Securitycode" required type="numeric" maxlength="6"></ion-input>   
              <ion-button size="small" fill="solid" class="getcode" slot="end"> get code! </ion-button>          
            </ion-item>         
  </ion-row>
  <ion-row> 
      <ion-item class="inputs" lines="inset">
        <ion-label position="stacked"> Set a Password </ion-label>   
        <ion-input [(ngModel)]="pword" required [type]="inType" minlength="6" maxlength="10"></ion-input>
         <ion-icon tappable (click)="buttonclick()" [name]="inIcon" class="password-eye" slot="end"></ion-icon> 
      </ion-item>
   </ion-row>
   <ion-row>     
      <ion-col offset="4">
        <ion-label #msg class="errorMsg"><!-- slot="end" Something is wrong!  --></ion-label>
      </ion-col>  
    </ion-row> 
    <ion-row class="paddedrow"></ion-row>
    <ion-row class="paddedrow"></ion-row>
    <ion-row>
      <ion-col class="paddedcol"></ion-col>
         <ion-col>
                <ion-button (click)="submit()" fill="solid" size="large" class="bigbutton" color="primary"> Join Us! </ion-button>
          </ion-col>      
         <ion-col class="paddedcol"></ion-col>
        </ion-row>
     </ion-grid>
      </div>
</ion-content>
