.bgimg  {
    background: #e5e5e5 url("../../../src/assets/halloween-image.jpg") no-repeat center center / cover;
    margin: auto;
    width:100%;
    height:35%;
    top:0;
    left: 0;
    display: block;
    position: absolute;

  }
  
  ion-content{
    background:#e5e5e5;
  }

.myheader{ 
   // height:35%;
   height: 100%;
}
  
  .paddedrowsearchtab{
      height: 70%;
  }
  
  .paddedcol{
    width: 2%;
}
 .paddedrow{
    height: 36%;
 }

  .lookingfor{
      background: #20b2ab7a;
      --color: white !important;
      --text-align:center !important;
      --placeholder-font-style: "normal" !important;
      --placeholder-color:#ffffff !important; 
       font-size: 9px !important;
       font-family: "Biryani-Bold" !important;
      font-weight: 800px;
       --icon-color:white !important;
       --placeholder-font-weight: 300px;
       --clear-button-color: white !important;     
  }
  
  .lookinforbord{
    height: 30%;
    width: 100%;
  }



  ion-input{
  --color : white !important;
  font-size: 10px !important;
  font-family: "Biryani-Bold" !important;
  }
 
  
  .inputs{
      width:90%;
      margin: 0 4%;
  }
  
  ion-item{
  --white-rgb: 255,255,255;
  --background: rgba(var(--white-rgb), 0);
  --highlight-color-focused: white;
  }
  
  ion-button {
      text-transform: none;
      text-align: center;
      display: inline-block;
      --background-activated:#20b2aa !important;
      --background-focused: #20b2aa !important;
  }
  
  ion-label{
       color:white !important;
      font-family: "Biryani-Bold" !important;
      font-weight: 800;
      font-size: 14px;
  }
  
.grid2{
    height: 40%;
    width: 100%;

}
  .division{
      height: 2%;
  }
  