<ion-header>
</ion-header>

<ion-content color= "stable">
    <ion-grid class="myheader">
  <div class="bgimg">
        <ion-row class="paddedrowsearchtab"></ion-row>
        <ion-row class="lookinforbord">           
            <ion-col>
            <ion-searchbar animated
           placeholder= "Looking for.." class="lookingfor" autocomplete="on">
            </ion-searchbar>
          </ion-col>         
        </ion-row>
  </div>
  <ion-row class="paddedrow"></ion-row> 
  <action-card> </action-card>
  <action-card> </action-card>
  <action-card> </action-card>
  </ion-grid>
</ion-content>
