img{
    //background:  #ffffff
    height:100%;
    //width: 20%;
    //border-radius: 5px;
} 

ion-col{
   align-self: stretch;
}  

 ion-grid{
     //height: 10%;
   // width: 100%;
   background:white;
   height: 10%;
    border-radius: 5px;
    width: 100%;
    padding: 0;
   //background:yellow;
 }

 .paddedcol{
    width: 1%;
}

 /* .paddedrow{
    height: 10%;
    border-radius: 5px;
    width: 100%;
 } */

 .bigrow{
    height: 100%;
 }

 .title{
    font-family: "Biryani-Bold" !important;
    font-weight: 900;
    font-size: 16px;
   // text-align: justify;
    color : #20b2aa !important;
 }

 /* .col1{
    width: 20%;
 }
  .col2{
    width: 45%;
  } */

  .description{
    font-family: "Biryani-Bold" !important;
    font-weight: normal;
    font-size: 10px;
    text-align: justify;
    color : black !important;
    line-height: 10px;
    //max-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

/*  ion-thumbnail {
--border-radius: 5px;
//--size: 85px 40px;  
 } */

/*  img{
//height: 55px;
height: 55px;
width: 72px;
 } */

   ion-icon{
      font-size: 10px;
      color: orange !important;
   }

   .chips{
    font-family: "Biryani-Bold" !important;
    font-weight: 800;
    font-size: 10px;
    //text-align: center;
    color : #20b2aa !important;
    height: 8px;
   }
   
   .date{
      font-family: "Biryani-Bold" !important;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    color : #f70816 !important;
    display: block;
   }

   .month{
    font-family: "Biryani-Bold" !important;
    font-weight: 800;
    font-size: 10px;
    color :#c4c4c4 !important;
    text-align: center;
    display: block;
   }

   .blubox{
   --color-rgb: 32,178,170;
      background-color: rgba(var(--color-rgb), 0.15);//#20b2aa26;
      border-radius: 5px;
      height: 100%;
      //width: 72px;
   }

   .padrow{
      height: 1%;
   }