 <ion-grid>
 <ion-row class="bigrow">
        <ion-col size="3">
          <img src= "assets/christmas.svg">
        </ion-col>
        <ion-col size="6">
            <ion-row>
            <ion-label class="title"> Zapata Christmas</ion-label>
            <ion-label class="description">Mama is coming show up GuyS doNt forGet to bring WiNe</ion-label>
            </ion-row>
            <ion-row class="padrow"></ion-row>
            <ion-row>
        <!--     <ion-chip class="chips">
                <ion-icon name="time"></ion-icon>
                <ion-label>00:00</ion-label>
              </ion-chip> -->
              <ion-chip class="chips">
                  <ion-icon name="pin"></ion-icon>
                  <ion-label>Huangpu</ion-label>
                </ion-chip>
               <!--  <ion-chip class="chips">
                    <ion-label>Maybe</ion-label>
                  </ion-chip> -->
                </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-row class="blubox">
          <ion-col>
            <ion-label class="month">Dec</ion-label>
            <ion-label class="date">24</ion-label>
          </ion-col>
        </ion-row>
        </ion-col>
</ion-row>  
</ion-grid>    